.App-header {
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.imbau {
  font-size: 5rem;
  padding: 0;
  padding-bottom: 2rem;
  margin: 0;
  color: red;
  padding-left: 5rem;
}

.question {
  padding-left: 10%;
}

p {
  font-size: 1.25rem;
}

li {
  padding: 3px;
}

button {
  background-color: rgb(214, 212, 212);
}

.questionText {
  font-size: 2rem;
  padding: 0;
  margin: 0;
}

.correctOrNot{
  color: rgba(214, 0, 0, 0.856);
  display: inline;
  font-size: 3rem;
}

.correct{
  color: green;
}

.topText{
  font-size: 3rem;
  text-align: center;
  padding-bottom: 2rem;
  padding-top: 5rem;
}

button:hover{
  border: green 3px solid;
}